@model OfficeFurnitureStore.Models.Statistic

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/AdminStore/Views/Shared/Admin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Statistic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOrders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProductsSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalProductsSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCustomers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCustomers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProductsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalProductsInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerRevenue)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StatisticId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
