@model IEnumerable<OfficeFurnitureStore.Models.Statistic>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminStore/Views/Shared/Admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOrders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRevenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalProductsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCustomers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalProductsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryRevenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRevenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerRevenue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOrders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRevenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProductsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCustomers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProductsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryRevenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductRevenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerRevenue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatisticId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StatisticId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StatisticId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
